* Materials/Release/
*.inform/Build/*
!*.inform/Build/makedir-dummy
*.inform/Index/*
!*.inform/Index/makedir-dummy
*.inform/manifest.plist
*.inform/notes.rtf
*.inform/Release.blurb
*.inform/Skein.skein
*.inform/gameinfo.dbg
*.inform/Metadata.iFiction

